@using src.Areas.Identity.Data
@model IndexViewModel

@{
    ViewData["Title"] = "Bird Voice";
}

<h1>Bird Voice Trainer</h1>
<h4>Welcome back, @User.Identity.Name!</h4>
<h4>Are you ready to learn about bird songs?</h4>
<div>
    <a class="btn btn-primary" id="study" asp-action="Study">Study Bird Voices</a>
    <a class="btn btn-primary" id="quiz" asp-action="Quiz">Take a Quiz</a>
</div>

<hr/>

<h3>Here are your stats:</h3>
<p>WIP</p>

<hr />
<h3>Select Birds you want to study: </h3>
<div style="display: flex; flex-direction: row; margin: 8px; width: 100%;">
    <div style="display: flex; flex-direction: column; width: 100%;">
        <label>Available Birds</label>
        <select id="select-available" asp-items="@Model.AvailableBirdNames" class="form-control" size="10"></select>
    </div>
    <div style="display: flex; flex-direction: column; margin: 16px 8px 0px 8px;">
        <div style="height: 100%"></div> <!-- yes, really -->
        <button class="btn btn-primary" onclick="move_to_active_birds()">&gt;&gt;</button>
        <div style="height: 100%"></div>
        <button class="btn btn-primary" onclick="move_to_available_birds()">&lt;&lt;</button>
        <div style="height: 100%"></div>
    </div>
    <div style="display: flex; flex-direction: column; width: 100%;">
        <label>Active Birds</label>
        <select id="select-active" asp-for="@Model.User.ActiveBirds" asp-items="@Model.ActiveBirdNames" multiple="single" class="form-control" size="10"></select>
    </div>
</div>