<h1>Bird Voice Trainer</h1>
<h3>Welcome back, @User.Identity.Name!</h3>
<p>Are you ready to learn about bird songs?</p>
<div>
    <button class="btn btn-primary" id="study">Study Bird Voices</button>
    <button class="btn btn-primary" id="quiz">Take a Quiz</button>
</div>

<hr/>

<h3>Here are your stats:</h3>
<p>WIP</p>

<hr />
<h3>Select Birds you want to study: </h3>
<div style="display: flex; flex-direction: row; margin: 8px; width: 100%;">
    <div style="display: flex; flex-direction: column; width: 100%;">
        <label>Available Birds</label>
        <select class="form-control" size="10"></select>
    </div>
    <div style="display: flex; flex-direction: column; margin: 16px 8px 0px 8px;">
        <div style="height: 100%"></div> <!-- yes, really -->
        <button class="btn btn-primary">&gt;&gt;</button>
        <div style="height: 100%"></div>
        <button class="btn btn-primary">&lt;&lt;</button>
        <div style="height: 100%"></div>
    </div>
    <div style="display: flex; flex-direction: column; width: 100%;">
        <label>Active Birds</label>
        <select class="form-control" size="10"></select>
    </div>
</div>