@using System.Globalization;
@using src.Extensions;
@model src.Areas.ActiviyProtocol.Models.ActivityProtocol

@{
    ViewData["Title"] = "Create";

    CultureInfo.CurrentCulture = new CultureInfo(User.GetCulture());
    CultureInfo.CurrentUICulture = new CultureInfo(User.GetCulture());
    var timeZone = TimeZoneInfo.FindSystemTimeZoneById(User.GetTimeZone());
}

<!-- use Users timezone to display DateTime?? -->
<h1>Create a new Activity Protocol</h1>
<h4>@TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, timeZone).ToString("D", CultureInfo.CurrentCulture)</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label>Entries</label>
            <div class="form-group" id="dynEntries">
                <partial name="_NewEntryPartial" view-data='@new ViewDataDictionary(ViewData){ {"Index", 0} }'/>
            </div>
            <button id="AddEntry" type="button" class="btn btn-success" onclick="add_new_protocol_entry()"><i class="fas fa-plus"></i></button>
            <!-- thank you, StackOverflow. I have no idea what I'm doing here -->
            <!-- https://stackoverflow.com/questions/36317362/how-to-add-an-item-to-a-list-in-a-viewmodel-using-razor-and-net-core -->
            <hr/>
            <div class="form-group">
                <label asp-for="JournalEntry" class="control-label"></label>
                <textarea asp-for="JournalEntry" class="form-control"></textarea>
                <span asp-validation-for="JournalEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

