<h1>Edit Disabled</h1>
<p>
    Sorry, you can only edit protocols for 24 hours after they have been created.<br/>
    You shouldn't go back and change history.<br/>
    <a asp-action="Index">Back to List</a>
</p>