@{
    int index = 0;
    string timeValue = "12:00";
    string descValue = "";
    if(ViewData.ContainsKey("Index")) {
        index = (int)ViewData["Index"];
    }
    if(ViewData.ContainsKey("TimeValue")) {
        // do NOT use localization! input type time only accepts 24h format! (no AM/PM stuff)
        timeValue = ((DateTimeOffset)ViewData["TimeValue"]).ToString("t");
    }
    if(ViewData.ContainsKey("DescValue")) {
        descValue = (string)ViewData["DescValue"];
    }
}

<div class="ProtocolEntryForm">
    <div class="flex-row">
        <input type="time" value="@timeValue" class="form-control" data-val="true" data-val-required="The Time field is required." id="Entries_@(index)__Time" name="Entries[@(index)].Time" value="">
        <input type="text" value="@descValue" class="form-control" data-val="true" data-val-maxlength="The field Description must be a string or array type with a maximum length of '200'." data-val-maxlength-max="200" id="Entries_@(index)__Description" maxlength="200" name="Entries[@(index)].Description" value="">
    </div>
    <span class="text-danger field-validation-valid" data-valmsg-for="Entries[@(index)].Time" data-valmsg-replace="true"></span>
    <span class="text-danger field-validation-valid" data-valmsg-for="Entries[@(index)].Description" data-valmsg-replace="true"></span>
</div>