@using System.Globalization
@using src.Extensions;
@model src.Models.ActivityProtocol

@{
    ViewData["Title"] = "Delete";

    CultureInfo.CurrentCulture = new CultureInfo(User.GetCulture());
    CultureInfo.CurrentUICulture = new CultureInfo(User.GetCulture());
    var timeZone = TimeZoneInfo.FindSystemTimeZoneById(User.GetTimeZone());
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @TimeZoneInfo.ConvertTimeFromUtc(Model.Date, timeZone).ToString("D", CultureInfo.CurrentCulture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JournalEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JournalEntry)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
