@model src.Models.ActivityProtocol

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActivityProtocol</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @for(int i = 0; i < Model.Entries.Count; i++) 
                {
                    var entry = Model.Entries[i];
                    Console.WriteLine($"Edit.html: Kind {Model.Entries[i].Time.Kind}");
                    var dict = new ViewDataDictionary(ViewData){ {"Index", i}, {"TimeValue", entry.Time}, {"DescValue", entry.Description} };
                    <partial name="_NewEntryPartial" view-data='@dict'/>
                }
                @if(Model.Entries.Count > 0) {
                    <hr/>
                }
                <label asp-for="JournalEntry" class="control-label"></label>
                <textarea asp-for="JournalEntry" class="form-control"></textarea>
                <span asp-validation-for="JournalEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
